[Pandas](https://pandas.pydata.org/) is a powerful Python library that makes it easy to analyze data. It is especially useful for working with data stored in table formats such as `.csv`, `.tsv`, or `.xlsx`. With Pandas, you can easily load, process, and analyze data using SQL-like commands. When used in conjunction with `Matplotlib` and `Seaborn`, Pandas provides a wealth of opportunities for visualizing and analyzing tabular data

In [1]:
import pandas as pd
import numpy as np

The core data structures in Pandas are `Series` and `DataFrames`.

*   `Series` is a one-dimensional indexed array of a single data type.
*   `DataFrame` is a two-dimensional table where each column contains data of the same type.**Think of a DataFrame as a collection of Series objects**.

DataFrames are ideal for representing real-world data, with each row representing an instance (such as an observation) and each column representing a feature of that instance. Pandas DataFrame and Series are built over numpy array.

In [2]:
series = pd.Series(dtype=np.int32)
dataFrame = pd.DataFrame()

Pandas provides various read methods to read data from different types of data sources. some of the most commonly used methods are

1.   `read_csv()`    ➡ Read from a CSV file
2.   `read_excel()`  ➡ Read from a excel sheet
3.   `read_json()`   ➡ Read from a JSON file
4.   `read_html()`   ➡ Read from a HTML file
5.   `read_xml()`    ➡ Read from a XML file
6.   `read_pickle()` ➡ Read from a pickle binary file

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Guhan-B/The-Machine-Learning-Repository/refs/heads/main/datasets/telecom_churn.csv")

In [4]:
data

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

We can use the `head(n)` method to display the .n row of the `DataFrame`/`Series` from top.

In [5]:
data.head(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,Yes,No,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,Yes,No,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False

We can use the `tail(n)` method to display the n row of the `DataFrame`/`Series` from bottom.

In [6]:
data.tail(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3323,IN,117,415,No,No,0,118.4,126,20.13,249.3,97,21.19,227.0,56,10.22,13.6,3,3.67,5,True
3324,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
3325,OH,78,408,No,No,0,193.4,99,32.88,116.9,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False
3326,OH,96,415,No,No,0,106.6,128,18.12,284.8,87,24.21,178.9,92,8.05,14.9,7,4.02,1,False
3327,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

We can use the `info()` method to output some general information (Feature names & types) about the `DataFrame`. `info()` method can also be used with a `Series`.

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [8]:
print(f"Data dimension: {data.shape}")
print(f"Number of row: {data.shape[0]}")
print(f"Number of columns: {data.shape[1]}")

Data dimension: (3333, 20)
Number of row: 3333
Number of columns: 20

We can change the type using `astype()` method. (My convention is to set all continueous features to number type like `int64` or `float64` and categorical features to `object` types). Type conversion can be done on a column level (i.e. Series) or on table level (i.e. DataFrame)

In [9]:
data["Churn"] = data["Churn"].astype(np.int64)
data["Area code"] = data["Area code"].astype(object)

We can use `columns` property of a `DataFrame` to get list of all columns in the `DataFrame`.

In [10]:
# Using data.columns we are seperating the continueous & categorical features
# depending on the data type of the columns

target = "Churn"

continueous_features = []
categorical_features = []

for column in data.columns:
    if column != target:
        if f"{data[column].dtype}"  == "object":
            categorical_features.append(column)
        else:
            continueous_features.append(column)

features = continueous_features + categorical_features

In [11]:
print(continueous_features)

['Account length', 'Number vmail messages', 'Total day minutes', 'Total day calls', 'Total day charge', 'Total eve minutes', 'Total eve calls', 'Total eve charge', 'Total night minutes', 'Total night calls', 'Total night charge', 'Total intl minutes', 'Total intl calls', 'Total intl charge', 'Customer service calls']

In [12]:
print(categorical_features)

['State', 'Area code', 'International plan', 'Voice mail plan']

In [13]:
print(target)

Churn

The `describe()` method shows basic statistical characteristics of each numerical feature (int64 and float64 types): number of non-missing values, mean, standard. In order to see statistics on non-numerical features, one has to explicitly indicate data types of interest in the `include` parameter.
deviation, range, median, 0.25 and 0.75 quartiles.

In [14]:
data.describe()

,Account length,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [15]:
data.describe(include=["object"])

       State  Area code International plan Voice mail plan
count   3333       3333               3333            3333
unique    51          3                  2               2
top       WV        415                 No              No
freq     106       1655               3010            2411

We can use `value_counts()` method for categorical feature to see the data distribution. We can normalize the result i.e see the percentage using `normalize` parameter.

In [16]:
data["International plan"].value_counts()

International plan
No     3010
Yes     323
Name: count, dtype: int64

In [17]:
data["International plan"].value_counts(normalize=True)

International plan
No     0.90309
Yes    0.09691
Name: proportion, dtype: float64

Indexing & retriving data can be useful while analysing & processing the data. It can be done in the following ways

1.   `DataFrame[column_name]` ➡ `Series`
2.   `DataFrame[[column_1, column_2, ... ,column_2]]` ➡ `DataFrame`
3.   `DataFrame.loc[start_row_index:end_row_index, start_column_name:end_column_name]` ➡ `DataFrame` / `Series`
4.   `Dataframe.iloc[start_row_index:end_row_index, start_column_index:end_column_index]`➡ `DataFrame` / `Series`
5.   `DataFrame[condition]` ➡ `DataFrame`

In [18]:
data["Churn"]

0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: Churn, Length: 3333, dtype: int64

In [19]:
data[["State", "Area code", "International plan", "Churn"]].head(10)

  State Area code International plan  Churn
0    KS       415                 No      0
1    OH       415                 No      0
2    NJ       415                 No      0
3    OH       408                Yes      0
4    OK       415                Yes      0
5    AL       510                Yes      0
6    MA       510                 No      0
7    MO       415                Yes      0
8    LA       408                 No      0
9    WV       415                Yes      0

In [20]:
data.loc[10:20]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
10,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1
11,RI,74,415,No,No,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,0
12,IA,168,408,No,No,0,128.8,96,21.90,104.9,71,8.92,141.1,128,6.35,11.2,2,3.02,1,0
13,MT,95,510,No,No,0,156.6,88,26.62,247.6,75,21.05,192.3,115,8.65,12.3,5,3.32,3,0
14,IA,62,415,No,No,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,0
15,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,1
16,ID,85,408,No,Yes,27,196.4,139,33.39,280.9,90,23.88,89.3,75,4.02,13.8,4,3.73,1,0
17,VT,93,510,No,No,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3,0
18,VA,76,510,No,Yes,33,189.7,66,32.25,212.8,65,18.09,165.7,108,7.46,10.0,5,2.70,1,0
19,TX,73,415,No,No,0,224.4,90,38.15,159.5,88,13.56,192.8,74,8.68,13.0,2,3.51,1,0
20,FL,147,415,No,No,0,155.1,117,26.37,239.7,93,20.37,208.8,133,9.40,10.6,4,2.86,0,0

In [21]:
data.loc[10:20, "State"]

10    IN
11    RI
12    IA
13    MT
14    IA
15    NY
16    ID
17    VT
18    VA
19    TX
20    FL
Name: State, dtype: object

In [22]:
data.loc[10:20, "State":"Number vmail messages"]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages
10,IN,65,415,No,No,0
11,RI,74,415,No,No,0
12,IA,168,408,No,No,0
13,MT,95,510,No,No,0
14,IA,62,415,No,No,0
15,NY,161,415,No,No,0
16,ID,85,408,No,Yes,27
17,VT,93,510,No,No,0
18,VA,76,510,No,Yes,33
19,TX,73,415,No,No,0
20,FL,147,415,No,No,0

In [23]:
data.iloc[10:20]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
10,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1
11,RI,74,415,No,No,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,0
12,IA,168,408,No,No,0,128.8,96,21.90,104.9,71,8.92,141.1,128,6.35,11.2,2,3.02,1,0
13,MT,95,510,No,No,0,156.6,88,26.62,247.6,75,21.05,192.3,115,8.65,12.3,5,3.32,3,0
14,IA,62,415,No,No,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,0
15,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,1
16,ID,85,408,No,Yes,27,196.4,139,33.39,280.9,90,23.88,89.3,75,4.02,13.8,4,3.73,1,0
17,VT,93,510,No,No,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3,0
18,VA,76,510,No,Yes,33,189.7,66,32.25,212.8,65,18.09,165.7,108,7.46,10.0,5,2.70,1,0
19,TX,73,415,No,No,0,224.4,90,38.15,159.5,88,13.56,192.8,74,8.68,13.0,2,3.51,1,0

In [24]:
data.iloc[10:20, 0]

10    IN
11    RI
12    IA
13    MT
14    IA
15    NY
16    ID
17    VT
18    VA
19    TX
Name: State, dtype: object

In [25]:
data.iloc[10:20, 0:6]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages
10,IN,65,415,No,No,0
11,RI,74,415,No,No,0
12,IA,168,408,No,No,0
13,MT,95,510,No,No,0
14,IA,62,415,No,No,0
15,NY,161,415,No,No,0
16,ID,85,408,No,Yes,27
17,VT,93,510,No,No,0
18,VA,76,510,No,Yes,33
19,TX,73,415,No,No,0

In [26]:
data[data["Churn"] == 0]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

We can sort a `DataFrame` by the value of one or more columns use `sort_values()` method. The order of sorting can be controlled by `ascending` parameter.

In [27]:
data.sort_values(by="Area code", ascending=True)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
2536,CT,119,408,No,No,0,294.2,100,50.01,232.5,53,19.76,195.0,64,8.78,9.0,1,2.43,0,1
887,IA,128,408,No,No,0,158.8,75,27.00,264.8,91,22.51,270.0,77,12.15,7.6,7,2.05,1,0
2486,MS,76,408,No,No,0,173.2,93,29.44,131.2,80,11.15,170.9,104,7.69,5.4,3,1.46,0,0
2482,MT,157,408,No,No,0,240.2,67,40.83,153.0,98,13.01,249.0,72,11.21,10.2,6,2.75,2,0
2476,WV,84,408,No,No,0,146.8,133,24.96,171.7,73,14.59,234.5,69,10.55,9.9,3,2.67,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,MN,92,510,No,No,0,212.4,105,36.11,224.6,118,19.09,221.3,105,9.96,9.0,4,2.43,1,0
2390,NY,122,510,No,No,0,145.6,102,24.75,284.7,111,24.20,228.2,91,10.27,12.2,5,3.29,0,0
2388,SC,161,510,No,No,0,297.9,141,50.64,238.1,107,20.24,240.5,93,10.82,8.9,5,2.40,1,1
2396,WY,127,510,Yes,No,0,247.5,99,42.08,108.5,118,9.22,232.0,72,10.44,10.6,3,2.86,2,0
869,NE,127,510,Yes,No,0,180.9,114,30.75,209.5,118,17.81,249.9,105,11.25,7.4,4,2.00,2,0

In [28]:
data.sort_values(by=["State", "Area code"], ascending=[False, True])

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
26,WY,57,408,No,Yes,39,213.0,115,36.21,191.1,112,16.24,182.7,115,8.22,9.5,3,2.57,0,0
562,WY,99,408,No,Yes,28,200.7,88,34.12,264.2,116,22.46,172.7,102,7.77,9.1,5,2.46,1,0
856,WY,104,408,No,No,0,183.6,133,31.21,120.7,98,10.26,215.1,112,9.68,12.7,2,3.43,1,0
880,WY,32,408,No,No,0,171.2,82,29.10,185.6,102,15.78,203.3,64,9.15,10.2,7,2.75,1,0
883,WY,42,408,No,No,0,146.3,84,24.87,255.9,113,21.75,45.0,117,2.03,8.0,12,2.16,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083,AK,52,510,No,No,0,148.3,83,25.21,181.6,79,15.44,155.6,104,7.00,8.3,6,2.24,3,0
2571,AK,103,510,No,No,0,190.9,62,32.45,226.6,53,19.26,230.1,96,10.35,7.8,3,2.11,2,0
2929,AK,71,510,No,No,0,185.0,84,31.45,232.5,129,19.76,191.1,82,8.60,14.9,4,4.02,3,0
3137,AK,58,510,No,No,0,131.9,96,22.42,167.6,107,14.25,205.9,106,9.27,14.7,5,3.97,3,0
3283,AK,99,510,No,No,0,238.4,96,40.53,246.5,130,20.95,198.4,117,8.93,12.4,4,3.35,3,0

`apply()`, `map()` & `replace()` methods can be used to perform operation on values in a `DataFrame` / `Series`

To apply functions to each column, use `apply()`. The apply method can also be used to apply a function to each row. To do this, specify `axis=1`. `Lambda functions` are very convenient in such scenarios

In [29]:
data.select_dtypes(include=np.number).apply(np.max)

Account length            243.00
Number vmail messages      51.00
Total day minutes         350.80
Total day calls           165.00
Total day charge           59.64
Total eve minutes         363.70
Total eve calls           170.00
Total eve charge           30.91
Total night minutes       395.00
Total night calls         175.00
Total night charge         17.77
Total intl minutes         20.00
Total intl calls           20.00
Total intl charge           5.40
Customer service calls      9.00
Churn                       1.00
dtype: float64

In [30]:
data[data['State'].apply(lambda state : state[0] == 'W')]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
26,WY,57,408,No,Yes,39,213.0,115,36.21,191.1,112,16.24,182.7,115,8.22,9.5,3,2.57,0,0
44,WI,64,510,No,No,0,154.0,67,26.18,225.8,118,19.19,265.3,86,11.94,3.5,3,0.95,1,0
49,WY,97,415,No,Yes,24,133.2,135,22.64,217.2,58,18.46,70.6,79,3.18,11.0,3,2.97,1,0
54,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,0
3303,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,0
3319,WY,89,415,No,No,0,115.4,99,19.62,209.9,115,17.84,280.9,112,12.64,15.9,6,4.29,3,0
3324,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0

The `map()` method can be used to replace values in a column by passing a dictionary of the form `{ old_value: new_value }` as its argument. Almost the same thing can be done with the replace method. Difference in treating values that are absent in the mapping dictionary There's a slight difference. `replace()` method will not do anything with values not found in the mapping dictionary, while `map()` will change them to `NaN`.

In [31]:
series = pd.Series(['a', 'b', 'c'])
print(series.replace({'a': 1, 'b': 1}))
print()
print(series.map({'a': 1, 'b': 2}))

0    1
1    1
2    c
dtype: object

0    1.0
1    2.0
2    NaN
dtype: float64

In [32]:
data["State"].map

<bound method Series.map of 0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object>

In [33]:
# We can use replace() with DataFrame directly, but not map()
data.replace({ "International plan" : { "Yes" : 1, "No" : 0 } })

/tmp/ipykernel_19/2959586801.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace({ "International plan" : { "Yes" : 1, "No" : 0 } })

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,0,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,0,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,0,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,1,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,1,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,0,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,0,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,0,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,1,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,0,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

We can group the data using `groupby()` method. Generally we perfom grouping in the following manner `DataFrame.groupby(by=grouping_columns)[selecting_columns].function()`

In [34]:
grouping_columns="Churn"
selecting_columns=["Total day minutes", "Total day calls",  "Total day charge"]
data.groupby(by=grouping_columns)[selecting_columns].mean()

       Total day minutes  Total day calls  Total day charge
Churn
0             175.175754       100.283158         29.780421
1             206.914079       101.335404         35.175921

In [35]:
grouping_columns=["Churn", "International plan"]
selecting_columns=["Total day minutes", "Total day calls",  "Total day charge"]
data.groupby(by=grouping_columns)[selecting_columns].mean()

                          Total day minutes  Total day calls  Total day charge
Churn International plan
0     No                         174.571246       100.159535         29.677646
      Yes                        183.833871       102.053763         31.252419
1     No                         212.175723       102.346821         36.070405
      Yes                        193.625547        98.781022         32.916861

We can generate summary tables using `crosstab()` & `pivot_table()` methods. Suppose we want to see how the observations in our dataset are distributed in the context of two variables to do so, we can build a contingency table using the `crosstab()` method.

In [36]:
pd.crosstab(data["Churn"], data["International plan"])

International plan    No  Yes
Churn
0                   2664  186
1                    346  137

In [37]:
pd.crosstab(data["Churn"], data["International plan"], normalize=True)

International plan       No       Yes
Churn
0                   0.79928  0.055806
1                   0.10381  0.041104

In [38]:
# Works kind of like groupby
data.pivot_table(
    ["Total day minutes", "Total day calls",  "Total day charge"],
    ["International plan"],
    aggfunc="mean"
)

                    Total day calls  Total day charge  Total day minutes
International plan
No                       100.410963         30.412495         178.893887
Yes                      100.665635         31.958390         187.986997